@use '../variables'
    
.container
    overflow: hidden
    min-width: 220px
    box-shadow: 0px 6px 8px #00000088
    transition: top 0.3s, left 0.3s, transform 0.3s, border 0.3s, box-shadow 0.3s

    &.app-not-showed:hover
        outline: 1px solid #ffffffab
        top: -2% !important

@media only screen and (max-width: 500px)
