@use '../variables'

.container
    height: 100%
    width: 100%

    .taskbar__workspace__wrapper
        height: calc(100% - variables.$global-menu-height)
        width: 100%
        display: flex

        &.row
            flex-direction: row

        &.column
            flex-direction: column-reverse

@media only screen and (max-width: 500px) 
    .taskbar__workspace__wrapper.row, .taskbar__workspace__wrapper.column
        flex-direction: column-reverse !important