$global-menu-height: 32px
    
$taskbar-row-style-width: 75px
$taskbar-row-style-height: 100%
$taskbar-column-style-width: $taskbar-row-style-height
$taskbar-column-style-height: $taskbar-row-style-width

$desktop-row-style-width: calc(100% - $taskbar-row-style-width)
$desktop-row-style-height: 100%
$desktop-column-style-width: $desktop-row-style-height
$desktop-column-style-height: $desktop-row-style-width

$process-window-border-color: #0000008f
$process-window-title-bar-border: 10px 10px 0px 0px
$process-window-title-bar-height: 50px
$process-window-animation-delay: 0.3s
