$taskbar-width: 75px
$taskbar-height: 100%

$desktop-width: calc(100% - $taskbar-width)
$desktop-height: 100%

$process-window-border-color: #0000008f

$process-window-title-bar-border: 10px 10px 0px 0px

$process-window-title-bar-height: 50px
