@use '../../variables'


$process-window-title-bar-border: 10px 10px 0px 0px
$process-window-title-bar-height: 50px

.container
    position: absolute
    border-radius: $process-window-title-bar-border
    box-shadow: 0px 0px 7px #00000060
    overflow: hidden
    
    /* THEME DEFINITIONS */
    &.light
        .window__title__bar
            background-color: #eeeeee
            border-color: #000000ef #000000ef #5a5a5a62 #000000ef
            color: black

            .buttons__wrapper > button
                background-color: #dbdbdb

                &:hover
                    background-color: #c9c8c8

            &.app--showed > button
                background-color: #dbdbdb

        .process__application__section
            border-color: transparent #000000ef #000000ef #000000ef
            background-color: #eeeeee
            color: black

    &.dark
        .window__title__bar
            background-color: #222224
            border-color: #000000ef #000000ef #1b1b1bcb #000000ef
            color: white
            box-shadow: inset 0.2px 1px 0px #434346

            .buttons__wrapper > button
                background-color: #2f2f31

                &:hover
                    background-color: #39393b

            &.app--showed > button
                background-color: #474747

        .process__application__section
            border-color: transparent #000000ef #000000ef #000000ef
            background-color: #222224
            color: white


    /* PROCESS WINDOW WHEN IS MINIMIZED */
    &.minimized
        transform: scale(0) 
    

    /* PROCESS WINDOW TOP SECTION (TITLE BAR) */
    .window__title__bar
        display: flex
        position: relative
        align-items: center
        justify-content: center
        width: 100%
        height: $process-window-title-bar-height
        color: white
        font-family: 'Ubuntu Mono', monospace
        font-weight: 700
        font-size: 100%
        border-style: solid
        border-width: 0.5px 0.5px 0.1px 0.5px
        border-radius: $process-window-title-bar-border

        &:active
            cursor: move

        .buttons__wrapper
            display: flex
            align-items: center
            justify-content: space-between
            background-color: transparent
            position: absolute
            right: 2%
            gap: 3%
            height: 50%
            aspect-ratio: 1/3

            & > button
                height: 100%
                aspect-ratio: 1/1
                border-radius: 50%

                & > img
                    width: 100%
                    height: 100%
                    object-fit: cover

        &.app--showed
            height: 30%
            font-size: 0

            .buttons__wrapper
                right: 6%

                & > button > img
                    display: none
    

    /* PROCESS WINDOW BOTTOM SECTION (APPLICATION SECTION) */
    .process__application__section
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: calc(100% - $process-window-title-bar-height)
        background-color: white
        border-style: solid
        border-width: 0px 0.5px 0.5px 0.5px

        .minimized__process__data
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center

            .process__window__icon__wrapper
                width: 40%
                aspect-ratio: 1/1

                & > img
                    width: 100%
                    height: 100%
                    object-fit: cover

        &.app--showed
            height: 70%
