
.container
    display: flex
    flex-direction: column
    align-items: center
    flex-shrink: 0
    flex-grow: 0
    width: 100%
    height: 100%
    padding: 40px 20px
    gap: 20px
    overflow-y: auto
    overflow-x: hidden


    /* THEME DEFINITIONS */
    &.light
        background-color:#ffffff

        .label
            color: black

        .wrapper
            background-color: #f3f2f2
            border: 0.5px solid #cfcfcfd3

            &.background__wrapper
                .background__color__palette__radio:checked
                    border-color: #f3f2f2

                .select__background__file__label
                    background-color: #eeeeee
                    border-color: #b8b8b8e5
                    color: black

                    &:hover
                        background-color: #ffffff

            &.theme__wrapper
                .light__theme__previous, .dark__theme__previous
                    border-color: #f3f2f2

            &.terminal__wrapper
                .terminal__title__bar
                    background-color: #eeeeee
                    border-color: #000000af #000000af #5a5a5a62 #000000af

                    .terminal__title__bar__buttons > button
                        background-color: #bebebe
                        
                .previous__terminal__background
                    border-color: transparent #000000af #000000af #000000af

                .terminal__appearance__selector
                    background-color: #eeeeee
                    border-color: #b8b8b8e5

                    &:hover
                        background-color: #ffffff

                    .label__description
                        color: #5c5c5ce5

                    .color__input__label
                        background-color: #eeeeee
                        border: 0.1px solid #cacaca8a

                        &:hover
                            background-color: #d6d6d6

    &.dark
        background-color:#2b2a2a

        .label
            color: white

        .wrapper
            background-color: #272727
            border: 0.5px solid #13131391

            &.background__wrapper
                .background__color__palette__radio:checked
                    border-color:#242323

                .select__background__file__label
                    background-color: #252525
                    border-color: #181818
                    color: white

                    &:hover
                        background-color: #363636

            &.theme__wrapper
                .light__theme__previous, .dark__theme__previous
                    border-color: #242323

            &.terminal__wrapper
                .terminal__title__bar
                    background-color: #222224
                    border-color: #000000af #000000af #1b1b1bcb #000000af

                    .terminal__title__bar__buttons > button
                        background-color: #3f3f42
                        
                .previous__terminal__background
                    border-color: transparent #000000af #000000af #000000af

                .terminal__appearance__selector
                    background-color: #252525
                    border-color: #181818

                    &:hover
                        background-color: #363636

                    .label__description
                        color: #8a8a8ae5

                    .color__input__label
                        background-color: #313131
                        border: 0.1px solid #6d6d6d8a

                        &:hover
                            background-color: #1d1d1d

    /* ANY SECTION LABEL */
    .label
        width:  100%
        margin-bottom: -8px
        max-width: 800px

    
    /* ANY SECTION WRAPPER */
    .wrapper
        min-height: 300px
        width: 100%
        max-width: 800px
        margin-bottom: 20px
        border-radius: 10px

        
    /* BACKGROUND SECTION */
    .background__wrapper
        display: flex
        flex-direction: column
        gap: 4%
        justify-content: center
        padding: 0px 3%
        height: 300px

        .background__previous
            display: flex
            height: 55%
            width: 80%
            max-width: 300px
            box-shadow: 2px 2px 3px #03030367
            border-radius: 8px
            overflow: hidden

            .background__previous__desktop
                background-size: cover

            &.row
                flex-direction: row

                .background__previous__taskbar
                    width: 10%
                    height: 100%

                .background__previous__desktop
                    width: 90%
                    height: 100%

            &.column
                flex-direction: column-reverse

                .background__previous__taskbar
                    height: 15%
                    width: 100%

                .background__previous__desktop
                    height: 85%
                    width: 100%

        .background__color__palette__radios__wrapper
            display: flex
            gap: 3%
            width: 60%
            height: 9%

            .background__color__palette__radio
                appearance: none
                -webkit-appearance: none
                -moz-appearance: none
                height: 100%
                aspect-ratio: 1/1
                border-radius: 50%

                &:checked
                    border-width: 3px 
                    border-style: solid 
                    outline-width: 4px
                    outline-style: solid

        .select__background__file__wrapper
            display: flex
            flex-wrap: wrap
            gap: 2%
            height: 10%
            width: 100%
            padding-bottom: 5px

            .select__background__file__input
                display: none

            .select__background__file__label
                display: flex
                align-items: center
                justify-content: center
                height: 100%
                padding: 15px
                border-radius: 8px
                border-width: 0.1px
                border-style: solid
                transition: background-color 0.3s

            .select__background__file__name
                display: flex
                align-items: center
                justify-content: center
                height: 100%
                color: white
                font-size: 0.9em


    /* THEME SECTION DEFINITION */
    .theme__wrapper
        display: flex
        padding: 20px
        justify-content: center
        align-items: center

        .title__bar__previous
            width: 100%
            height: 25%
            border-width: 0px 0px 0.1px 0px
            border-style: solid
        
        .process__window__content__previous
            width: 100%
            height: 75%

        .light__theme__wrapper, .dark__theme__wrapper
            display: flex
            flex-direction: column
            align-items: center
            gap: 4%
            height: 100%
            width: 40%
            max-width: 303px
            padding: 20px

            .light__theme__previous, .dark__theme__previous
                position: relative
                width: 100%
                height: 80%
                box-shadow: 0px 0px 2px #000000b9
                border-radius: 10px

                &.selected-theme
                    border-width: 3px 
                    border-style: solid 
                    outline-width: 5px
                    outline-style: solid

                .light__theme__process__window__previous, .dark__theme__process__window__previous
                    position: absolute
                    z-index: 2
                    left: 20%
                    top: 38%
                    width: 45%
                    height: 45%
                    border-radius: 8px
                    overflow: hidden
                    box-shadow: 0px 0px 4px #0000006e

                .light__theme__process__window__previous
                    .title__bar__previous
                        background-color: #eeeeee
                        border-color: #5a5a5a62

                    .process__window__content__previous
                        background-color: #f3f2f2

                .dark__theme__process__window__previous
                    .title__bar__previous
                        background-color: #1f1f1f
                        border-color: #414141cb
                        
                    .process__window__content__previous
                        background-color: #1b1b1d

                .system__theme__process__window
                    position: absolute
                    left: 38%
                    top: 15%
                    width: 45%
                    height: 45%
                    border-radius: 8px
                    overflow: hidden

                    .title__bar__previous
                        background-color: #2c2b2b
                        border-color: #474747b9

                    .process__window__content__previous
                        background-color: #2c2b2b


    /* TERMINAL SECTION DEFINITION */
    .terminal__wrapper
        display: flex
        flex-direction: column
        min-height: fit-content

        .terminal__previous__section
            display: flex
            flex-direction: row
            height: 300px
            width: 100%
            padding: 20px
            justify-content: center
            align-items: center

            .terminal__previous__wrapper
                display: flex
                flex-direction: column
                align-items: center
                gap: 4%
                height: 100%
                width: 40%
                max-width: 303px
                padding: 20px

                .terminal__previous
                    position: relative
                    width: 100%
                    height: 80%
                    box-shadow: 0px 0px 2px #000000b9
                    border-radius: 10px

                    .previous__terminal__container
                        position: absolute
                        left: 50%
                        top: 50%
                        transform: translate(-50%, -50%)
                        width: 80%
                        height: 80%
                        border-radius: 8px 8px 0px 0px
                        overflow: hidden

                        .terminal__title__bar
                            display: flex
                            justify-content: flex-end
                            align-items: center
                            padding-right: 10%
                            width: 100%
                            height: 20%
                            border-radius: 8px 8px 0px 0px
                            border-style: solid
                            border-width: 0.5px 0.5px 0.5px 0.5px

                            .terminal__title__bar__buttons
                                display: flex
                                align-items: center
                                height: 100%
                                width: 20%
                                gap: 4%

                                & > button
                                    height: 60%
                                    aspect-ratio: 1/1
                                    border-radius: 50%

                        .previous__terminal__background 
                            height: 80%
                            width: 100%
                            border-style: solid
                            border-width: 0px 0.5px 0.5px 0.5px
                            font-size: 14px

                            .previous__terminal__prompt
                                margin-right: 2.6px

        .terminal__appearance__selectors__wrapper
            display: flex
            flex-direction: column
            height: fit-content
            border-radius: 0px 0px 10px 10px
            overflow: hidden
            width: 100%

            .terminal__appearance__selector
                display: flex
                flex-direction: row
                justify-content: space-between
                padding: 0px 20px
                align-items: center
                height: 55px
                width: 100%
                border-width: 1.6px 0px 0px 0px
                border-style: solid
                transition: background-color 0.2s

                .label__description
                    font-size: 13.7px

                .fontsize__input__wrapper
                    height: 55%
                    width: 13%
                    display: flex
                    border-radius: 10px 
                    overflow: hidden

                    .fontsize__input
                        display: flex
                        height: 100%
                        width: 70%
                        appearance: none
                    
                    & > button
                        height: 100%
                        aspect-ratio: 1/1

                .color__input
                    transform: scale(0)

                .color__input__label
                    display: flex
                    flex-direction: row
                    align-items: center
                    height: 55%
                    width: 13%
                    padding: 8px
                    gap: 4%
                    border: 1px solid white
                    border-radius: 10px 
                    overflow: hidden
                    transition: background-color 0.2s

                    .color__demonstration
                        height: 80%
                        aspect-ratio: 1/1
                        border-radius: 50%




@media only screen and (max-width: 800px) and (min-width: 651px)
    .background__wrapper
        padding: 0px 8% !important

        .background__previous
            width: 90% !important

    .theme__wrapper
        justify-content: center
        align-items: center

        .light__theme__wrapper, .dark__theme__wrapper
            width: 50% !important
            min-width: 237px

    .terminal__wrapper
        justify-content: center
        align-items: center
        
        .terminal__previous__section
            .terminal__previous__wrapper
                width: 50% !important
                min-width: 237px


@media only screen and (max-width: 650px)
    .background__wrapper
        padding: 0px 8% !important

        .background__previous
            width: 90% !important

    .theme__wrapper
        flex-direction: column
        justify-content: center
        align-items: center
        min-height: 550px !important

        .light__theme__wrapper, .dark__theme__wrapper
            width: 100% !important
            min-width: 237px
            padding: 10px !important

    .terminal__wrapper
        .terminal__previous__section
            flex-direction: column !important
            justify-content: center
            align-items: center
            min-height: 550px !important

            .terminal__previous__wrapper
                width: 100% !important
                min-width: 237px
                padding: 10px !important

                .previous__terminal__background 
                    font-size: 12.4px !important

        .terminal__appearance__selector
            font-size: 15px

        .label__description
            font-size: 13px !important