
.container
    display: flex
    flex-direction: column
    align-items: center
    flex-shrink: 0
    flex-grow: 0
    width: 100%
    height: 100%
    padding: 40px 20px
    gap: 20px
    overflow-y: auto
    overflow-x: hidden

    &.light
        background-color:#ffffff

        .background__label, .theme__label, .dock__config__label
            color: black

        .background__wrapper, .theme__wrapper, .dock__config__wrapper
            background-color: #f3f2f2
            border: 0.5px solid #cfcfcfd3
            
        .background__color__palette__radio:checked
            border-color: #f3f2f2

        .select__background__file__label
            background-color: #f3f3f3
            color: black

            &:hover
                background-color: #e0e0e0

        .theme__wrapper
            .light__theme__label, .dark__theme__label
                color: black

        .light__theme__previous, .dark__theme__previous
            border-color: #f3f2f2

        .left__dock__previous, .bottom__dock__previous
            &.selected-layout
                border-color: #f3f2f2

        .left__dock__label, .bottom__dock__label
            color: black

    &.dark
        background-color:#2b2a2a

        .background__label, .theme__label, .dock__config__label
            color: white

        .background__wrapper, .theme__wrapper, .dock__config__wrapper
            background-color: #242323
            border: 0.5px solid #00000062

        .background__color__palette__radio:checked
            border-color:#242323

        .select__background__file__label
            background-color: #3f3e3e
            color: white

            &:hover
                background-color: #4d4b4b

        .theme__wrapper
            .light__theme__label, .dark__theme__label
                color: white

        .light__theme__previous, .dark__theme__previous
            border-color: #242323

        .left__dock__previous, .bottom__dock__previous
            &.selected-layout
                border-color: #242323

        .left__dock__label, .bottom__dock__label
            color: white



    .background__label, .theme__label, .dock__config__label
        width:  100%
        margin-bottom: -8px
        max-width: 800px
        
    .background__wrapper
        display: flex
        flex-direction: column
        gap: 4%
        justify-content: center
        padding: 0px 3%
        height: 300px
        min-height: 300px
        width: 100%
        max-width: 800px
        margin-bottom: 20px
        border-radius: 20px

        .background__previous
            display: flex
            height: 55%
            width: 80%
            max-width: 300px
            box-shadow: 2px 2px 3px #03030367
            border-radius: 8px
            overflow: hidden

            .background__previous__desktop
                background-size: cover

            &.row
                flex-direction: row

                .background__previous__taskbar
                    width: 10%
                    height: 100%

                .background__previous__desktop
                    width: 90%
                    height: 100%

            &.column
                flex-direction: column-reverse

                .background__previous__taskbar
                    height: 15%
                    width: 100%

                .background__previous__desktop
                    height: 85%
                    width: 100%

        .background__color__palette__radios__wrapper
            display: flex
            gap: 3%
            width: 60%
            height: 9%

            .background__color__palette__radio
                appearance: none
                -webkit-appearance: none
                -moz-appearance: none
                height: 100%
                aspect-ratio: 1/1
                border-radius: 50%

                &:checked
                    border-width: 3px 
                    border-style: solid 
                    outline-width: 4px
                    outline-style: solid

        .select__background__file__wrapper
            display: flex
            flex-wrap: wrap
            gap: 2%
            height: 10%
            width: 100%
            padding-bottom: 5px

            .select__background__file__input
                display: none

            .select__background__file__label
                display: flex
                align-items: center
                justify-content: center
                height: 100%
                padding: 15px
                border-radius: 8px
                box-shadow: 0px 0px 2px #1a1a1af8
                transition: background-color 0.3s

            .select__background__file__name
                display: flex
                align-items: center
                justify-content: center
                height: 100%
                color: white
                font-size: 0.9em

    .theme__wrapper
        display: flex
        padding: 20px
        align-items: center
        min-height: 300px
        width: 100%
        max-width: 800px
        border-radius: 20px
        margin-bottom: 20px

        .title__bar__previous
            width: 100%
            height: 25%
            border-width: 0px 0px 0.1px 0px
            border-style: solid
        
        .process__window__content__previous
            width: 100%
            height: 75%

        .light__theme__wrapper, .dark__theme__wrapper
            display: flex
            flex-direction: column
            align-items: center
            gap: 4%
            height: 100%
            width: 40%
            max-width: 303px
            padding: 20px

            .light__theme__previous, .dark__theme__previous
                position: relative
                width: 100%
                height: 80%
                box-shadow: 0px 0px 2px #000000b9
                border-radius: 10px

                &.selected-theme
                    border-width: 3px 
                    border-style: solid 
                    outline-width: 5px
                    outline-style: solid

                .light__theme__process__window__previous, .dark__theme__process__window__previous
                    position: absolute
                    z-index: 2
                    left: 20%
                    top: 38%
                    width: 45%
                    height: 45%
                    border-radius: 8px
                    overflow: hidden
                    box-shadow: 0px 0px 4px #0000006e

                .light__theme__process__window__previous
                    .title__bar__previous
                        background-color: #eeeeee
                        border-color: #5a5a5a62

                    .process__window__content__previous
                        background-color: #f3f2f2

                .dark__theme__process__window__previous
                    .title__bar__previous
                        background-color: #1f1f1f
                        border-color: #414141cb
                        
                    .process__window__content__previous
                        background-color: #1b1b1d

                .system__theme__process__window
                    position: absolute
                    left: 38%
                    top: 15%
                    width: 45%
                    height: 45%
                    border-radius: 8px
                    overflow: hidden

                    .title__bar__previous
                        background-color: #2c2b2b
                        border-color: #474747b9

                    .process__window__content__previous
                        background-color: #2c2b2b


@media only screen and (max-width: 800px) and (min-width: 601px)
    .background__wrapper
        padding: 0px 8% !important

        .background__previous
            width: 90% !important

    .theme__wrapper
        justify-content: center
        align-items: center

        .light__theme__wrapper, .dark__theme__wrapper
            width: 50% !important
            min-width: 237px

@media only screen and (max-width: 600px)
    .background__wrapper
        padding: 0px 8% !important

        .background__previous
            width: 90% !important

    .theme__wrapper
        flex-direction: column
        justify-content: center
        align-items: center
        min-height: 550px !important

        .light__theme__wrapper, .dark__theme__wrapper
            width: 80% !important
            min-width: 237px